/* css styles */
.subtitle {
  color: cornflowerblue;
}

.rounded {
  border-radius: 1rem !important;
}

.bi-house-door-fill {
  font-size: 1.7em;  
}

.navbar-nav {
  display: flex;             /* establish flex container */
  align-items: center;       /* center ul container vertically */
  justify-content: center;   /* center ul container horizontally (optional) */
}

div.quarto-about-solana .about-entity .about-link {
  padding: 0em 0em;
  border: none;
  font-size: 1.5em;  
}

div.quarto-about-solana .about-entity .about-link i.bi{
  margin-right: 0em;
  margin-top: 0em;
}


#title-block-header {
  margin-block-end: 1rem;
  position: absolute;
  /*margin-top: -1px;*/
  right: 720px;
  bottom: 300px;
  width: 500px;
  height: 500px;
  text-align: center;
}
    







